[submodule "software/WebUI"]
	path = software/WebUI
	url = https://github.com/RMUASD-Team1-2017/WebInterface.git
[submodule "software/gcs_ws/src/mavros"]
	path = software/gcs_ws/src/mavros
	url = https://github.com/mavlink/mavros
[submodule "software/gcs_ws/src/control_toolbox"]
	path = software/gcs_ws/src/control_toolbox
	url = https://github.com/ros-controls/control_toolbox
[submodule "software/gcs_ws/src/realtime_tools"]
	path = software/gcs_ws/src/realtime_tools
	url = https://github.com/ros-controls/realtime_tools
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/RMUASD-Team1-2017/Firmware
