#/etc/systemd/system/onboard-control.service

[Unit]
Description=Onboard Control Service
#After=network.target


[Service]
Type=simple
ExecStart=/usr/bin/python2 /home/root/OnBoardControll/main.py --loglevel DEBUG --ledmode DEBUG
Restart=always
RestartSec=5
WorkingDirectory=/home/root/OnBoardControll
User=root
Group=root

[Install]
WantedBy=multi-user.target

