 <launch>
    <!-- Do we want to ignore the opinion of the OES? -->
    <param name="/ignore_onboard" type="bool" value="false" />
    <param name="/ignore_weather_and_GPS" type="bool" value="true" />



    <!-- Paths to fence files and landing spots -->
    <!-- Model airfield -->
    <!--param name="/geofence_file" type="string" value="$(find aed_gcs_logic)/resources/model_airfield.fence" /-->
    <!--param name="/inner_geofence_file" type="string" value="$(find aed_gcs_logic)/resources/model_airfield_inner.fence" /-->
    <!--param name="/landing_spots_file" type="string" value="$(find aed_gcs_logic)/resources/model_airfield.rally" /-->
    <!-- Golf course -->
    <param name="/geofence_file" type="string" value="$(find aed_gcs_logic)/resources/polygon_fence.fence" />
    <param name="/inner_geofence_file" type="string" value="$(find aed_gcs_logic)/resources/polygon_inner_fence.fence" />
    <param name="/landing_spots_file" type="string" value="$(find aed_gcs_logic)/resources/testrally.rally" />


    <!-- rabbitMQ bridge node -->
    <node pkg="ros_rabbitmq_bridge" type="rabbitmq_bridge.py" name="rabbitmq_bridge" output="screen">
    </node>

    <!-- Start the mission handler -->
    <node name="mission_handler" pkg="aed_gcs_logic" type="mission_handler.py" output="screen" />




    <!-- Start the path planner -->
    <node name="path_planner" pkg="aed_gcs_logic" type="path_planner_node" output="screen" />

    <node name="control_logic" pkg="aed_gcs_logic" type="control_logic_node" output="screen" />

    <!--node name="link_monitor" pkg="aed_gcs_logic" type="link_monitor_node.py" output="screen" /-->
    <node name="geofence_checker" pkg="aed_gcs_logic" type="GeofenceChecker.py" output="screen" />
    <node name="geofence_sender" pkg="aed_gcs_logic" type="GeofenceSender.py" output="screen" />
</launch>
